.core, .cars, .accessory {
	display:none;
	}


    /**********************************************************************
 * Selling-Form
 **********************************************************************/
/* color orange: #f29106 */
/* color blue: #213c90 */
/* color btn-blue: #1946A0 */
/* clor green: #A5B937 */

h1, h2, h3, h4 {
    color: #333;
}

.icon-orange {
  background-image: url("http://auto.ricardo.ch/Auto/Content/images/1/Sprites/ricardo_icons_orange.png");
}

.icon-green {
  background-image: url("http://auto.ricardo.ch/Auto/Content/images/1/Sprites/ricardo_icons_green.png");
}

.icon-blue {
  background-image: url("http://auto.ricardo.ch/Auto/Content/images/1/Sprites/ricardo_icons_blue.png");
}

.icon-chevron-up, .accordion-heading .accordion-toggle i {
    background-position: -361px -48px;
}

.icon-chevron-down,.accordion-heading .accordion-toggle.collapsed i {
    background-position: -384px -48px;
}

/* +++++++++++++++++++++++++ Base-Styles +++++++++++++++++++++++++ */

.well {
	position:relative;
}

.control-group {
	margin-bottom:0;
	position:relative;
	}	

.optionWithCosts{
	font-size:11px;
	color: #757575;
	margin-left:10px;
	}

.optionalField{
	font-size:11px;
	color:#757575;
	}
	
.tooltip-inner {
	text-shadow:none;
}

.optionList{
	clear: both;	
	column-count: 4;
	column-gap: 10px;
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	margin:0;	
	}
	
.optionList li{
	break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
	list-style:none;
	}

.optionList li small{    
	display: block;
	margin: -4px 0;
	}

.optionList li i{
	display:none;
	}

.optionList.editable li i{
	display:block;
	}
	
	
.optionList i {
	position:absolute;
	cursor:pointer;
	}
	
.optionList input {
	position:absolute;
	visibility:hidden;
	}
	
.optionList label {
	padding-left:30px;
	}

.form-inline-component {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.input-number {
    width: 50px;
}

.icon-select {
	background-image: none;
	border: 1px solid #757575;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right:10px;
}

.selected .icon-select {
	background-color: #fff;
	background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_green.png");
	background-position: -288px 0;
	border-color: #a6b825 !important;
}

.btn-square-icon {
    width: 15px;
    height: 15px;
    padding: 6px;
}

.btn-disabled, .btn-disabled:hover {
	color:#CCC !important;
	
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color:#eee #ddd #ddd #eee;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			
	background-position:top;			
	cursor:not-allowed;
}			

.modal-body ol{    
	list-style: decimal outside none;
	margin-left: 20px;
}

.modal-body ul{
	list-style: disc outside none;
  margin-left: 20px;
}

.gradient, .accordion-heading, .collapse-heading {
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  text-decoration: none !important;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe6e6e6', GradientType=0);
}

.collapse-heading {
	padding: 5px 15px;
	border-radius: 5px;
}

.collapse-control {
	position:absolute;
	top:0;
	right:0;
}

.accordion-inner {
	background-color:#fff;
	border-radius: 0 0 5px 5px;
}

.hidden{
	display:none;
}

.ricardopay-info-box {
	border-right: 1px dotted #CCCCCC;
	padding: 10px;
	height: 190px;
}

/* +++++++++++++++++++++++++ Header +++++++++++++++++++++++++ */

#logo {
    margin-top: 15px;
}


#mainnav {
	text-align:right;
	padding-top:15px;
}
#mainnav a{
	background-color: #fff;
	background-image: none;
	border-color: #ddd;
}
#mainnav i{
	margin:-1px 2px 0 -2px;
}

#formNav {
    margin: 5px 0;
		text-align: right.
   /* padding-left: 20px;*/
}

.stepIndicator {
	width:970px;
}
.stepIndicator > li > a {
    position: relative;
    width: 135px;
    height: 30px;
    padding: 12px;
    background: #f29106;
    border-radius: 0px;
    color: #ffffff;
}
.stepIndicator > li > a:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -27px;
    border-style: solid;
    border-width: 27px 0 27px 27px;
    border-color: transparent #f29106;
    display: block;
    width: 0;
    z-index: 2;
}
.stepIndicator > li > a:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 161px;
    border-style: solid;
    border-width: 31px 0 31px 31px;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
}
.stepIndicator > li.done > a {
    background-color: #e5e5e5;
    color:#1946a0;
}
.stepIndicator > li.done > a:after {
    border-color: transparent #e5e5e5;
}
.stepIndicator > li.todo > a {
    background-color: #e5e5e5;
    color: #999;
		cursor: default;
}
.stepIndicator > li.todo > a:after {
    border-color: transparent #e5e5e5;
}
.stepIndicator > li.active > a {
    background-color: #f29106;
}
.stepIndicator > li.active > a:after {
    border-color: transparent #f29106;
}
.stepIndicator > li.active > a:hover {
    background-color: #f29106;
}
.stepIndicator > li > a > span {
    margin-left: 25px;
}
.stepIndicator > li:last-child > a:after {
    background-color:white;
		border-width: 0;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #FFFFFF !important;
}

.nav-pills > .active i {
  background-image: url("http://auto.ricardo.ch/Auto/Content/images/1/Sprites/ricardo_icons_white.png");
}

/* +++++++++++++++++++++++++ Step1 +++++++++++++++++++++++++ */

/* Category-Selection */

.navCat ul {
    display: none;
}
.navCat:first-child ul {
    display: block;
}
.navCat.span2 {
    margin-left: 0 !important;
    margin-right: 2.12766%;
    width: 22.8%;
}
.navCat.expandLvl {
    width: 18.2%;
}
.navCat.span2:last-child {
    margin-right: 0;
}

.navCat li {
}

.navCat a {
    color: #333;
    padding-right: 25px !important;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
}

.navCat .catSuggest a {
    color: #757575;
}
.navCat .catSuggest .catAlternativ a {
    color: #fc9013;
}

.navCat .catSuggest .catAlternativ i {
    background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_orange.png");
}

.navCat li.active a {
    color: #fff !important;
    background-color: #a6b825 !important;
}

.navCat li.active i {
    background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_white.png") !important;
}

.navCat li i {
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
}

.navCat li .icon-info-sign {
    display: inline-block;
}

.navCat li.hasSub i, .navCat li.active i {
    display: block;
}

.navCat li.active i {
    background-position: -288px 0;
}

/* .cars Category-Selector */

#carsCatSelector{
	margin-bottom:15px;
}
#carsCatSelector a{
	display:inline-block;
	float:none;
	height:110px;
	padding-top:80px;
	position:relative;
}
#carsCatSelector a.selected{
	border-color:#a6b825;
}
#carsCatSelector img{ 
	left: 50%;
	margin-left: -44px;
	position: absolute;
	top: 5px;
}

#carsCatSelector .selected .cbMainCatMark {
	background-image:url('../img/cb_maincat_mark.png');
	width:23px;
	height:14px;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-11px;
	top:113px;
	z-index:99;
	}

/* .cars Car-Selector */

#carSelector .well{
	padding-bottom:10px;
	min-height:355px;
}

#carSelector .well.blurSelector{
	background-color: #fff;
	border-color:#eee;
	color:#bbb;
}

#carSelector .well.blurSelector h4, #carSelector .well.blurSelector select{
	color:#bbb;
}

#carSelector .seperator{
	font-weight: bold;
	margin-top: 170px;
	text-align: center;
}

#carSelector .seperator i{
	margin-top:3px;
}

#carSelector .well.selected{
	border-color: #a6b825;
}

.carIDHint {
	position:relative;
	height:110px;
	margin-top:15px;
}
.carIDHint div:last-child {
	position:absolute;
	bottom:0;
	right:0px;
	min-height:auto;
}

/* .cars Version-Selector */

#carVerionSelector .oddRow td {
	background-color:#FFF;
} 
#carVerionSelector .versionDetails td {
	background-color:#bcd229;
	color:#fff;
} 
#carVerionSelector .versionBasic {
	cursor:pointer;
} 
#carVerionSelector .versionBasic.selected td {
	background-color: #a6b825;
	color:#fff;
} 
#carVerionSelector .versionDetails {
	display:none;
} 
#carVerionSelector .versionDetails td{
	padding-left: 33px;
} 
#carVerionSelector .versionDetails dl {
	margin:0;
} 
#carVerionSelector .versionDetails dt, #carVerionSelector .versionDetails dd {
	display: inline-block;
	font-weight:normal;
} 
#carVerionSelector .versionDetails dt:after {
 content: ": ";
} 
#carVerionSelector .versionDetails dd {
	border-right: 1px dotted;
	display: inline-block;
	margin-right: 10px;
	padding-right: 15px;
} 

#altCarAttributes {
	padding-right: 0;
	}

#altCarAttributes .control-group {
	width: 31.5%;
	margin: 0 1.5% 0 0;
	}

/* +++++++++++++++++++++++++ Step2 (Core) +++++++++++++++++++++++++ */

#savedForLater {
    margin-bottom: 30px;
}
#savedForLater h5 {
    margin-top: 0;
}
.uploadProgressOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.removeImageOverlay {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 3px;
}
.uploadProgressSpinner {
    position: absolute;
    background: url("../img/loading.gif") no-repeat scroll 50% 50% rgba(255,255,255,0.7);
    height: 100%;
    width: 100%;
}
.uploadCancelBtn {
    z-index: 2;
    display: none;
}
.mainProductImageTitle {
    clear: left;
}
.productImage .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
}
.productImage .progress .bar {
    width: 0%;
}
/* File-Upload */
.fileinput-button {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.fileinput-button input {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
/* end file-upload */
.productImage {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 20px 20px 0;
}
.addProductImagesOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #dfdfdf;
    text-align: center;
}
.addProductImageLink {
    margin-top: 15px;
    padding: 0;
}
.addProductImageLink img {
    display: block;
    margin: 0 auto;
}
.separatorFloated {
    margin: 0 5px;
    padding-top: 3px;
}
.checkbox.inline.checkbox-label-btn {
    position: relative;
    padding: 20px;
}
.checkbox-label-btn > input {
    position: absolute;
    right: 5px;
    top: 0;
}
.checkbox.inline.btn-ricardoPay {
    background-color: #F09600;
    background-image: linear-gradient(to bottom, #FAAF4B, #F09600);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding-left: 50px;
    padding-right: 50px;
}
.checkbox.inline.checkbox-label-btn.btn-small {
    padding: 10px 25px;
}

.checkbox-label-btn-promoFeature {
    text-align: left;
    border-color: #F09600;
}
.checkbox-label-btn-promoFeature h6 {
    margin-bottom: 0;
    font-size: 16px;
    color: #666666;
}
.promoFeature-subTeaser, .promoFeature-costs {
    display: inline-block;
    margin-bottom: 10px;
    color: #F09600;
}
.promo-img {
}
.section {
    margin: 20px 0;
}
#additional-payment-notes {
    margin-top: -20px;
}
.btn-rounded {
    width: 27px;
    height: 27px;
    margin-top: 1px;
    border-radius: 50% 50% 50% 50%;
}

/* +++++++++++++++++++++++++ Step2 (Cars) +++++++++++++++++++++++++ */

#userSelectionDetail dl{
	clear: both;
	column-count: 3;
	column-gap: 10px;
	-moz-column-width: 290px;
	-webkit-column-width: 290px;
	margin:0;
	}
	
#userSelectionDetail dt{
	width:55%;
	float:left;
	}

	
#userSelectionDetail dl{
	margin:0;
	}
	
#standardEquipement .optionList, #standardFeatureAcc .optionList, #optionalEquipement .optionList, #optionalFeatureAcc .optionList {
	clear: both;
	column-count: 2;
	column-gap: 10px;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	margin:0;
	}
	
#standardEquipement .optionList, #optionalEquipement .optionList {
	/*width: 750px;*/
	}
 #standardFeatureAcc .optionList li, #optionalFeatureAcc .optionList li {
	float: left;
	/*width: 290px;*/
	}

/* +++++++++++++++++++++++++ Step3 +++++++++++++++++++++++++ */

/* - Listing-Type */

#listingType label.btn {
    display: inline-block;
    float: none;
    margin: 0;
    /*height: 120px;*/
    position: relative;
    font-size: 12px;
}

#listingType label.btn i {
    position: absolute;
    right: 0;
    top: 7px;
}

#listingType label.btn li {
    text-align: left;
    list-style: disc inside none;
    padding-left: 5px;
    text-align: left;
}

input.toggle[type="radio"]:checked + label i {
    background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_white.png") !important;
    background-position: -288px 0;
    border-color: #a6b825 !important;
    background-color: #a6b825 !important;
}

#listingType .seperator {
	padding: 5px;
	}
	
#auctionPricing, #fixedPricePricing {
	margin-top:20px;
	}

/*http://stackoverflow.com/questions/5523735/how-to-make-a-radio-button-look-like-a-toggle-button */
input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle:checked + label {
    border-color: #bcd229;
}
/*input[type="radio"].toggle:checked + label {
 color: #ffffff;
 background-color: #1946A0;
 background-image: linear-gradient(to bottom, #2382C8, #1946A0);
 background-repeat: repeat-x;
 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 }*/

/* Step3 - Paymentcondition */
					#fixedPricePricing{
						display:none;
						}

#listingPaymentConditions .option-group {
    height: 195px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-family: 'MetaOTBook', Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #eee;
}
#listingPaymentConditions .option-group.active {
    border-color: #bcd229;
}

#listingPaymentConditions .option-group>.span12 {
	margin:0;
}
#listingPaymentConditions .btn {
    color: #757575;
    margin-bottom: 5px;
    /*width: 100%;*/
    position: relative;
}
#listingPaymentConditions .btn.selected {
    color: #fff;
    background-color: #bcd229;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-image:none;
}
#listingPaymentConditions .btn i {
    /*background-image: none;
    margin: 0 5px 0 0;*/
    position: absolute;
    right: 0px;
    top: 7px;
}
#listingPaymentConditions .btn.selected i {
    /*background-position: -288px 0;
    background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_white.png");*/
}

#listingPaymentConditions .likeDescription label {
	    width: auto !important;
}

#listingPaymentConditions .likeDescription textarea {
	/*margin:0 -13px;*/
	width:171px;
}

/* Step 6 Fees*/

.table-sum tbody tr td:last-child {
    text-align: right;
}
.table-sum tbody tr:last-child td {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.table-first-column-title tr td:first-child {
    color: #757575;
}

/* Step 3 - Date & Time */

.noUiSlider {
    margin-top: 15px;
}

.noUiSlider.connect a, .noUiSlider.connect.lower {
    cursor: pointer;
}

.stepLabels span:before {
    content: "";
    position: relative;
    top: -16px;
    left: 7px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: transparent #757575;
}

.stepLabels .one {
    margin-left: -7px;
}

.stepLabels .three {
    margin-left: 31px;
}

.stepLabels .five {
    margin-left: 30px;
}

.stepLabels .seven {
    margin-left: 30px;
}

.stepLabels .ten {
    margin-left: 54px;
}

/* Step 4 - Shipping */
.select-wide {
    width: 250px;
}

.shipping-delete-btn {
    margin-left: 20px;
}

/* Step5 Promotion */


		.blowUp {
			height:100%;
			}
		.blowUp .carousel-inner {
			background-color:#fff;
			border:1px solid #ccc;
			padding: 20px;
			position:relative;
			margin-top:-23px;
			margin-bottom:-23px;
			border-radius:5px;
			box-shadow: 0 0 3px rgba(0,0,0,0.2);
			width:auto;
			overflow:visible;
			}
		#adWindow .blowUp .carousel-inner {
			height:325px;
			}
		#adHomepage .blowUp .carousel-inner {
			height:245px;
			}
		.option label{
			height:55px;    
			border-radius: 5px;
			padding: 5px 0 5px 10px;
			margin: 0 -5px 5px -5px;
			}
		.option:hover label{
			background-color:#fff;
			}
		.optDisable label{
			height:auto;
			}
		.option label input{
			visibility:hidden;
			}
		.option label i{
			margin-left:-20px;
			background-image: none;
			border: 1px solid #999999;
			border-radius: 4px 4px 4px 4px;
			}
		.option:hover label i{
			border-color: #A6B825 !important;
			}
		.option.selected label i{
			background-color: #A6B825 !important;
			background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_white.png") !important;
			background-position: -288px 0;
			border-color: #A6B825 !important;
			}
		.option label .value{
			display: inline-block;
			margin-left: 5px;
			}
		#adWindow .option label .value{
    	width: 105px;
			}
		.option label *{
			vertical-align:middle;
			}
		.sash {
			position:absolute;
			top: -26px;
			left: -26px;
		}
		.optionName {
			margin-bottom:0;
		}
		.optionPrice {
			color:#fc9013;
			font-weight:bold;
    	margin-bottom: 20px;
		}
		.optionPrice .currency{
			font-weight:normal;
		}
		.carousel {
			margin-bottom:0;
			}
		.description .bigPic{
			float:right;
			}
		.description strong{
			clear: both;
			display: block;
			line-height: 20px;
			padding-top: 10px;
			}
		.description ol{
			list-style: decimal outside none;
    	margin-left: 20px;
			}
		.description li{
    	margin-bottom: 10px;
			}			

/* Step5 Login */

#it_LoginSection, #it_RegisterSection {
    float: left;
    width: 425px;
    padding: 15px;
    margin: 0;
}
#it_LoginSection {
    background-color: #eee;
    border-radius: 10px;
}
#modalLogin dl, #modalLogin ul {
    margin-bottom: 10px;
}
#it_LoginSection dt {
    width: 150px;
    float: left;
}
#it_LoginSection dd {
    margin-left: 150px;
}
#it_LoginSection dd input {
    width: 200px;
}
#it_LoginSection input[type='checkbox'] {
    width: auto;
    float: left;
}

/* Step6 Overview and Preview */

#articlePreview {
    margin-top: 0;
}
#articlePreview img {
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px #757575;
    cursor: pointer;
    margin-bottom: 15px;
}
#articlePreview .btn {
}
fieldset h3 {
    line-height: 30px;
    margin-top: 0;
}

/*********************************************************************
 * Overriding noUiSlider default css
 ********************************************************************/
.noUiSlider.connect.disabled a, .noUiSlider.connect.lower.disabled {
    background: none repeat scroll 0 0 #CCCCCC;
    cursor: not-allowed;
}

.noUiSlider.connect a, .noUiSlider.connect.lower {
    background-color: #c0d82a;
}

.noUiSlider {
    border-color: #757575;
}

.noUiSlider, .noUiSlider.connect.lower a {
    background-color: #f2f2f2;
}

/*********************************************************************
 * Overriding Bootstrap DateTimePicker plugin default css
 ********************************************************************/

.bootstrap-datetimepicker-widget {
    width: 400px;
}

.bootstrap-datetimepicker-widget .collapse {
    float: left;
    height: auto;
}

.picker-switch {
    display: none;
}

.timepicker {
    margin: 50px 0 0 30px;
}

/*********************************************************************
 * overriding bootstrap.css default styles
 *********************************************************************/

.tooltip-inner {
    text-align: left;
}

label {
    margin-bottom: 10px;
}
.btn-link {
    padding-left: 0;
}
.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    /*background-image: url("../lib/img/glyphicons-halflings-white.png");*/
}
[class^="icon-"], [class*=" icon-"] {
    /*background-image: url("../lib/img/glyphicons-halflings.png");*/
}
.icon-calendar {
    background-position: -313px -49px;
}
.icon-time {
    background-position: -96px 0;
}
.icon-bold, .icon-italic, .icon-list {
    background-image: url("../lib/img/glyphicons-halflings.png");
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-remove {
    background-position: -312px -2px;
}
.icon-plus {
    background-position: -48px -74px;
}
.well > legend {
    display: inline;
    width: auto;
    padding: 0 7px;
    margin-bottom: 0;
    background: #2382C8;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    font-size: 11px;
    line-height: 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.well .table {
    margin-bottom: 0;
}
.modal {
    width: 960px;
    margin-left: -480px;
}

.form-actions {
    background: none;
    border: none;
    padding: 20px 0;
    margin-top: 0;
		text-align:right;
}

.form-actions a{
  margin-left: 15px;
}

.form-actions a.toOverview{
	display:none;
}

.breadcrumb {
    margin: 5px 0 0 0;
    padding: 0;
}

/*********************************************************************
 * styles for ImageMover in ImageUploader
 *********************************************************************/
.noUiSlider.horizontal {
    width: 80%;
}

.image-movers {
    position: absolute;
    width: 75px;
    margin: 55px 0 0 -70px;
    display: none;
}
.droper .image-movers{
    display: inline-block;
}

.image-movers .btn {
    max-width: 20px;
    height: 22px;
    margin-top: 6px !important;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-image: url("https://pics.ricardostatic.ch/contents/ch/assets/images/ricardo_icons_gray.png");
    margin-left: 3px;
}

.image-movers .move-left {
    float: left;
    background-position: -405px -45px;
}

.image-movers .move-right {
    float: right;
    background-position: -430px -45px;
}

.productImages .span3 .productImage .move-left {
    visibility: hidden;
}

.productImages .span9 .productImage:last-child .move-right {
    visibility: hidden;
}

/*********************************************************************
 * styles for topBar
 *********************************************************************/

.stepIndicator li a div {
    float: left;
    max-width: 100px;
}

.stepIndicator li a div:first-child {
    font-family: 'MetaOTBold';
    font-size: 40px;
    margin-left: 25px;
    margin-top: 10px;
 }
 .stepIndicator .stepN1 a {
    width: 110px;
}
 
 .stepIndicator .stepN1 a:before {
    left: 136px;
    position: absolute;
    top: -4px;
    width: 0;
    z-index: 1;
}

  .stepIndicator .stepN1 a div:first-child{
    margin-left: 0;
 } 
 
   .stepIndicator li a div:last-child{
    position: absolute;
    margin-left: 60px;
    margin-top: 7px;
    z-index: 500;
 }
  
   .stepIndicator .stepN1 a div:last-child{
    margin-left: 35px;
 }

.stepIndicator li:last-child a div:last-child {
    margin-top: 5px;
}

.accordion-toggle {
    border-radius: 4px 4px 0 0;
    background: #f5f5f5;
    color: #333;
}

.accordion-toggle:hover {
    color: #333;
}

.accordion-body {
    background-color: rgb(245, 245, 245);
}

.accordion-heading a small {
    color: #333;
}

#accordion2.step2 i{
    float: right;
}

footer {
    background: none;
}



/*Editors css*/

#multipleTinys{
    width:100%;
    min-height:400px;
    background-color: red; 
    position: static;
}
#vv_submenu.fr{

left: 819px !important;
top: 437px !important;
}

.span6.de #vv_submenu.de{

left: 358px !important;
top: 437px !important;
}

.span12.de #vv_submenu.de{

left: 706px !important;
top: 403px !important;
}


.de.well{
    height: 800px;
    margin:auto;
}

.de.well, .fr.well{
    margin-left: 0px;
}

#frameOverlay{
position: absolute;
width: 930px;
height: 520px;
background: #f5f5f5;
margin: 1px 5px;
}

#dualEditors{
    width: 935px;
    height:600px;
    z-index: 200;
    background-color: red;
    position: absolute;
    top:1px;
    left:1px;


}
    .langs .span1{
        width: 50px !important;
    }
    .de, .fr {
        float:left;
        margin-bottom: 30px;
    }
    .de .mce-menubar{
        display: none;
    }

    .de #arrow, .fr #arrow{
    position: absolute;
    top: 0px;
    right: 5px;
    }

    #DualEditorFR .mce-tinymce .mce-container-body:first-child .mce-container .mce-container-body .mce-toolbar, #DualEditorDE .mce-tinymce .mce-container-body:first-child .mce-container .mce-container-body .mce-toolbar{
        overflow:hidden;
        height: 34px;
    }

    #singleEditor{
    }

    .sn #arrow{
        position: absolute;
    right: 0;
    top: 0;
    }
    #multieditors{
        min-height: 300px;
    }
.float{
    float: left;
}

.langs .span7 {
    width: 365px;
}

.fr-row #inputNumber, .fr-row #productCondition, .fr-row label[for=inputProductCondition],.fr-row label[for=inputDescription], .fr-row label[for=inputNumber]{
    visibility: hidden !important;
}



.fr-row{visibility: hidden !important}

.fr:none(.mce-container){display: none !important;}

label[for=inputPictures]{
    clear: both;}
.de #arrow{
    display: none;
}

.checkbox.swissIcons {
max-width: 220px;
float: left;
margin-top: 16px;
}

#swissIcons{
float: left;
margin-left: 36px;
}

.mce-path div{
    display: none !important;
}

.productImages div.mainProductImageTitle{
    margin-top:0px;
    width: 115px;
}

body > .mce-container.mce-panel.mce-floatpanel:not(.mce-menu-sub) > .mce-container-body.mce-stack-layout > .mce-menu-item:nth-child(2),body > .mce-container.mce-panel.mce-floatpanel:not(.mce-menu-sub)  > .mce-container-body.mce-stack-layout > .mce-menu-item:nth-child(3), body > .mce-container.mce-panel.mce-floatpanel:not(.mce-menu-sub) > .mce-container-body.mce-stack-layout > .mce-menu-item:nth-child(4)  {
    display: none;
}

.de iframe, .fr iframe{
    height: 100px ;
}

#swissIcons{
    cursor: pointer;
}
/*iframe#fr{
    margin-left: 30px;
}
*/
/*
.de #mce_25, .fr #mce_25{
    width:420px !important;

}

.de #mce_24, .de #mce_24-body, .fr #mce_24, .fr #mce_24-body{
height:35px;
width: 330px !important;
margin-top: -18px !important;
}

.de #mce_24-body, .de #mce_24, .fr #mce_24-body {
    height: 35px;
    width: 378px;
}

.de #arrow2, .fr #arrow2{
position: absolute;
margin-left: 350px;
}

.de .editor-toolbar.pull-right, .fr .editor-toolbar.pull-right{
    display:none;
}

.de #mce_25-body, .fr #mce_25-body{
    width: 390px;
    height: 35px;
    overflow: hidden;
}


/*Editors css END*/

/*****NEW*******/

#urlSaver{
    display: none;
}

.droper img:not(.placeholder){
    cursor:move;
}

input.charsCount{
    margin-bottom: 0px !important;
}

div.charAmount{
    margin-bottom: 10px;
    font-size: 10px;
}

span.charsLeft{
    font-weight: bold;
}

.done img{
    margin-top: -13px;
}

.option-group .btn{
    /*width: 180px !important;*/
    height: 130px; 
    text-align: left;


}

.ricardoPayList{
    list-style:disc inside none;
    margin:3px 0 3px 0;
}

.ricardoPayList li{
    line-height: 12px;
}

small.smaller{
    font-size: 9px;
}
.option-group textarea{
margin: 5px 0px 10px;
width: 108%;
height: 91px;
margin-left: -13px;
}

.span6.option-group{
    width: 404px;
}

.option label[for='silver']{
    background-color: #f29106 !important;
    width: 400px;
    margin-left: -40px;
    box-shadow: 0 0 8px;
}

label[for='silver'] .value{
    color: white;
    font-size: 14px;
    font-weight: bold;
    width:150px !important;
}


.sash{
    display:none;
}

.option img{
    visibility: hidden;
}
.optionMaintext{
    line-height: 20px;
}

img.specialHover{
    box-shadow: 0 0 8px gray;
    border-radius: 3px;
    cursor: pointer;
		cursor: -webkit-zoom-in; 
		cursor: -moz-zoom-in;
}

.hovered{
    position: absolute;
    top: 50px;
    margin-left: -400px;
}

#adHomepage.cars .blowUp .carousel-inner{
    max-height: 180px;
}
