/**********************************************************************
 * Selling-Form Step 1
 **********************************************************************/
#categoryFinder {
    margin: 40px 0;
}

#savedForLater {
    margin-bottom: 30px;
}

.followSteps {

}

.checkbox.inline.checkbox-label-btn {
    position: relative;
    padding: 20px;
}

.checkbox-label-btn > input {
    position: absolute;
    right: 5px;
    top: 0;
}

.checkbox.inline.btn-ricardoPay {
    background-color: #F09600;
    background-image: linear-gradient(to bottom, #FAAF4B, #F09600);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding-left: 50px;
    padding-right: 50px;
}

.checkbox.inline.checkbox-label-btn.btn-small {
    padding: 10px 25px;
}

.checkbox.inline.checkbox-label-btn-wide {
    padding-left: 30px;
    margin-right: 20px;
}

.checkbox-label-btn-promoFeature {
    text-align: left;
    border-color: #F09600;
}

.checkbox-label-btn-promoFeature h6 {
    margin-bottom: 0;
    font-size: 16px;
    color: #666666;
}

.promoFeature-subTeaser, .promoFeature-costs {
    display: inline-block;
    margin-bottom: 10px;
    color: #F09600;
}

.promo-img {
    
}

.section {
    margin: 20px 0;
}

#additional-payment-notes {
    margin-top: -20px;
}

.btn-rounded {
    width: 27px;
    height: 27px;
    margin-top: 1px;
    border-radius: 50% 50% 50% 50%;
}

/*http://stackoverflow.com/questions/5523735/how-to-make-a-radio-button-look-like-a-toggle-button */
input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle:checked + label {
    background-color: #F09600;
    background-image: linear-gradient(to bottom, #FAAF4B, #F09600);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.table-sum tbody tr td:last-child {
    text-align: right;
}

.table-sum tbody tr:last-child td {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.table-first-column-title tr td:first-child {
    color: #999999;
}

.editmode {
    border-color: #2382C8;
    background: none;
}

.noUiSlider {
    margin-top: 35px;
}

/*********************************************************************
 * overriding bootstrap.css default styles
 *********************************************************************/
.btn-link {
    padding-left: 0;
}

.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    /*background-image: url("../lib/img/glyphicons-halflings-white.png");*/
}

[class^="icon-"], [class*=" icon-"] {
    /*background-image: url("../lib/img/glyphicons-halflings.png");*/
}

.icon-calendar {
    background-position: -313px -49px;
}

.icon-time {
    background-position: -96px 0;
}

.well > legend {
    display: inline;
    width: auto;
    padding: 0 7px;
    margin-bottom: 0;
    background: #2382C8;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    font-size: 11px;
    line-height: 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.well .table {
    margin-bottom: 0;
}
