/* 
    Description:  main styles for the horizontal sellingform
    Date:         06.04.2013 16:00
*/


#sellingform {
    margin-top:35px;
    position: relative;
    min-height:500px;
}

.span3 {
    margin:0 0 20px;
    position: relative;
}


/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 200px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 0px;
}

.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



/* SELLINGFORM STEP 1
-------------------------------------------------- */
.controls.input-product {
    margin:0 auto;
    display:block;
    text-align: center;
}

#step1, #step2, #step3, #step4, #step5 {
padding: 10px;
border: 1px solid #ddd;
background: #eee;
border-radius: 8px;
margin:10px 0;
}

legend {
box-shadow: 0 1px 0 #fff;
}

.form-horizontal .control-label {
  text-align:left;
}
select[multiple], select[size] {
  height:165px;
}


.select-tree{
  margin-top:70px;
}

#textarea { height:200px;}

.thumbnail {
  background:#fff;
}
.thumbnails li:first-child {
  padding-right:35px;
  position: relative;
}

.thumbnails li:first-child:after {
  content: "·";
  font-weight: bold;
  font-size: 60px;
  color: #999;
  position: absolute;
  top: 54px;
  right: 0px;
}